body {
  color: #6c7a73; }
  body section {
    padding: 20px; }

.greenButton {
  border: 1.5px solid #52be92;
  border-radius: 5px;
  padding: 10px 30px;
  background: #52be92;
  color: white; }
  @media (max-width: 599px) {
    .greenButton {
      padding: 10px 20px; } }
  .greenButton:hover {
    cursor: pointer; }
  .greenButton:hover {
    background: white;
    transition: background-color 300ms linear;
    color: #52be92; }

.whiteButton {
  border: 1.5px solid #52be92;
  border-radius: 5px;
  padding: 10px 30px;
  background: white; }
  @media (max-width: 599px) {
    .whiteButton {
      padding: 10px 20px; } }
  .whiteButton:hover {
    cursor: pointer; }
  .whiteButton:hover {
    background: #52be92;
    transition: background-color 300ms linear;
    color: white; }

header {
  display: flex;
  justify-content: space-between; }
  header #logoHeader {
    padding: 10px;
    font-size: 30px;
    vertical-align: middle; }
    header #logoHeader img {
      max-width: 40px; }
    header #logoHeader span {
      font-size: 30px; }
    @media (max-width: 700px) {
      header #logoHeader {
        justify-content: center; } }
  header #headerRight {
    font-size: 1.1rem; }
    header #headerRight ul li {
      padding: 10px;
      display: inline; }
      @media (max-width: 700px) {
        header #headerRight ul li {
          padding: 5px; } }
    @media (max-width: 700px) {
      header #headerRight .toHide {
        display: none; } }
  @media (max-width: 599px) {
    header {
      display: block;
      text-align: center; } }

#section1 {
  width: 95%;
  display: flex;
  margin: 0 auto; }
  #section1 #threeLines {
    flex: 3%;
    background: url(./iMAGES/lines7.png) no-repeat; }
    @media (max-width: 700px) {
      #section1 #threeLines {
        flex: 0;
        display: none; } }
  #section1 #donateSection {
    flex: 40%;
    padding-left: 20px;
    vertical-align: middle;
    padding-top: 30px;
    font-size: 1.2rem; }
    #section1 #donateSection #donateButton {
      margin-top: 20px; }
      #section1 #donateSection #donateButton button {
        margin: 0 auto;
        display: block;
        padding: 10px 50px;
        font-size: 1.3rem; }
    @media (max-width: 700px) {
      #section1 #donateSection {
        flex: 100%;
        text-align: center; } }
  #section1 #imageSec {
    padding: 10px;
    flex: 40%; }
    #section1 #imageSec img {
      width: 100%; }
      @media (max-width: 700px) {
        #section1 #imageSec img {
          display: none; } }
    @media (max-width: 700px) {
      #section1 #imageSec {
        flex: 0%; } }

#section2 .section2Header {
  width: 100%;
  font-size: 40px;
  text-align: center; }
  #section2 .section2Header span {
    border-bottom: 2px solid #eee; }
#section2 #cardSection {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  #section2 #cardSection .card {
    margin: 30px 20px;
    text-align: center;
    padding: 20px 30px;
    flex: 1 0 calc(33.333% - 155px);
    border-radius: 5px; }
    #section2 #cardSection .card:hover {
      cursor: pointer;
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.24);
      transition: box-shadow 400ms linear; }
    #section2 #cardSection .card .cardImage {
      max-width: 50px; }
    @media (max-width: 599px) {
      #section2 #cardSection .card {
        margin: 10px 3px; } }
@media (max-width: 599px) {
  #section2 {
    width: 100%; } }

#section3 {
  color: #f6fbfa; }
  #section3 #volunteerFeedbackCard {
    width: 80%;
    margin-left: auto;
    background-color: #52be92;
    text-align: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px; }
    #section3 #volunteerFeedbackCard .text {
      width: 50%;
      margin: 0 auto;
      padding: 20px 50px;
      transition: display 200ms;
      opacity: 1;
      transition: opacity 1s; }
      #section3 #volunteerFeedbackCard .text img {
        max-height: 100px; }
      @media (max-width: 700px) {
        #section3 #volunteerFeedbackCard .text {
          width: 90%;
          padding: 10px 25px; } }
    #section3 #volunteerFeedbackCard .text2 {
      display: none; }
    #section3 #volunteerFeedbackCard .arrowButtons {
      text-align: center; }
      #section3 #volunteerFeedbackCard .arrowButtons img:hover {
        cursor: pointer; }
    @media (max-width: 700px) {
      #section3 #volunteerFeedbackCard {
        width: 100%;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px; } }
  #section3 #volunteerFeedbackSideBar {
    width: 10%;
    height: 100%;
    background: url(./iMAGES/volunteerLine.png) no repeat; }
    @media (max-width: 700px) {
      #section3 #volunteerFeedbackSideBar {
        display: none; } }
  #section3 #volunteerCardHolder {
    width: 10%; }
    @media (max-width: 700px) {
      #section3 #volunteerCardHolder {
        display: none; } }
  @media (max-width: 700px) {
    #section3 {
      padding: 0px; } }

footer {
  width: 100%;
  background: url(./iMAGES/footer.jpg) no-repeat;
  background-size: 100%;
  color: white; }
  footer .footer-heading {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 130px; }
  footer .footer-form {
    text-align: center;
    padding: 30px;
    margin-top: 30px; }
    footer .footer-form input {
      padding: 10px; }
    footer .footer-form button {
      background: #52be92;
      border: 1px solid black;
      padding: 11px 30px;
      margin-left: -5px; }
  footer .main-footer {
    display: flex;
    margin-top: 40px; }
    footer .main-footer .footer-favicons {
      flex: 30%;
      text-align: center;
      padding-top: 30px; }
      footer .main-footer .footer-favicons img {
        max-width: 30px; }
    footer .main-footer .footer-list {
      flex: 70%;
      font-size: 1.1rem; }
      footer .main-footer .footer-list ul {
        display: inline-block;
        list-style: none; }
        footer .main-footer .footer-list ul li {
          padding: 5px 60px; }
          @media (max-width: 700px) {
            footer .main-footer .footer-list ul li {
              padding: 5px 20px; } }
        footer .main-footer .footer-list ul .list-head {
          font-weight: 600;
          padding: 10px 60px; }
          @media (max-width: 700px) {
            footer .main-footer .footer-list ul .list-head {
              padding: 5px 20px; } }
    @media (max-width: 700px) {
      footer .main-footer {
        display: block;
        background-image: none;
        background: #52be92; } }

/*# sourceMappingURL=output.css.map */
